table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

// td,
// th {
//   width: 10%;
// }
th {
  background-color: #2c64b2;
  color: aliceblue;
}
.container {
  max-width: 97%;
  margin: 0 auto;
}
.example-form-field {
  margin-right: 20px;
  width: 15%;
}
.example-form-field-search {
  width: 25%;
  margin-right: 20px;
}
.filter-button {
  margin-right: 20px;
}
.title-table-continer {
  display: flex;
  justify-content: space-between;
}
.blue-button {
  background-color: #2c64b2;
}
