table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

// td,
// th {
//   width: 10%;
// }
th {
  background-color: #2c64b2;
  color: aliceblue;
}
.container {
  max-width: 97%;
  margin: 0 auto;
}
