<mat-toolbar color="primary">
  <div class="hst">
    <img src="../../assets/hst_logo.png" alt="image_hst1" />
  </div>
  <span class="header">Benutzerlogbuch</span>
  <span class="example-spacer"></span>

  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>search</mat-icon>
  </button>

  <div class="buttons">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>alarm</mat-icon>
    </button>
  </div>
  <div class="user-items">
    <img class="image-user" src="../../assets/user.png" alt="user" />
    <span class="user-name">Tobias Kraus</span>
    <mat-icon>keyboard_arrow_down</mat-icon>
  </div>
</mat-toolbar>

<div class="navbar">
  <ul class="nav-items">
    <li class="nav-item">Dashboard</li>
    <li class="nav-item">Übersicht</li>
    <li class="nav-item">Anlagenzustand</li>
    <li class="nav-item">Analyse</li>
    <li class="nav-item">Einstellungen</li>
    <li class="nav-item">Alarm-Manager</li>
    <li class="nav-item">Benutzerverwaltung</li>
    <li class="nav-item">Administration</li>
  </ul>
</div>
<div>
  <ul class="sub-nav">
    <li class="home-icon">
      <mat-icon>home</mat-icon>
    </li>
    <li class="arrow">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </li>
    <li class="first-path">Benutzerverwaltung</li>
    <li class="arrow">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </li>
    <li class="second-path">Benutzerlogbuch</li>
  </ul>
</div>
<div>
  <button
    (click)="openDialog()"
    mat-raised-button
    class="example-icon favorite-icon new-action-button"
    aria-label="Example icon-button with heart icon"
  >
    + Neue Aktion
  </button>
</div>
